*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(to right, rgb(40, 40, 40), rgb(70, 70, 70));
}
.container{
    background: white;
    padding: 20px 0px;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.container--topo input{
    height: 35px;
    padding: 0px 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 500px;
    border: 3px solid rgb(206, 206, 206);
    outline: none;
}
.container--topo button{
    font-size: 18px;
    height: 42px;
    padding: 0px 20px;
    margin-left: -70px;
    background: rgb(40, 40, 40);
    color: white;
    border: none;
    font-weight: 600;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; 
    cursor: pointer;
}
.container--tarefas{
    text-align: center;
}
.container--tarefas ul{
    list-style: none;
    font-size: 20px;
}
.container--tarefas li{
    padding: 10px 0px;
}
ul li i{
    color: rgb(40, 40, 40);
    cursor: pointer;
    padding: 20px;
}
footer{
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-style: italic;
}
@media(max-width: 425px){
    .container--topo input{
        width: 200px;
        font-size: 16px;
    }
    .container--topo button{
        font-size: 14px;
    }
    .container{
        width: 350px;
    }
    footer{
        font-size: 14px;
    }
    .container--tarefas ul{
        font-size: 16px;
    }
    ul li i{
        padding: 10px;
    }
}
@media(max-width: 320px){
    .container--topo input{
        width: 150px;
        font-size: 12px;
        padding: 0px 5px;
        border: 2px solid rgb(206, 206, 206);
    }
    .container--topo button{
        font-size: 10px;
        height: 40px;
        padding: 0px 10px;
    }
    .container{
        width: 250px;
    }
    footer{
        font-size: 12px;
    }
    .container--tarefas ul{
        font-size: 14px;
    }
    ul li i{
        padding: 5px;
    }
}
